{% extends "bibliothecaire/base.html" %}
{% block content %}
<h1>Ajouter un Média</h1>
<form method="post">
    {% csrf_token %}
    <label for="title">Titre :</label>
    <input type="text" name="title" required><br>
    <label for="type">Type :</label>
    <select name="type">
        <option value="Livre">Livre</option>
        <option value="DVD">DVD</option>
        <option value="CD">CD</option>
        <option value="JeuDePlateau">Jeu de Plateau</option>
    </select><br>
    <label for="author_or_creator">Auteur/Créateur :</label>
    <input type="text" name="author_or_creator" required><br>
    <button type="submit">Ajouter</button>
</form>
<a href="{% url 'accueil_bibliothecaire' %}">Accueil</a>
{% endblock %}
